@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #711c91;
  --onPrimary: #ea00d9;
}

.background {
  background-image: url(../src/assets/cyberpunk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Job Monitor*/
.video-container {
  padding: 1rem;
}

video {
  width: 100%;
  position: fixed;
}

table {
  background-color: #000000b4;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  color: var(--onPrimary);
}

thead {
  background-color: var(--primary);
  color: var(--onPrimary);
  opacity: 0.7;
  position: sticky;
  position: -webkit-sticky;
  top:0px;
}

tr {
  box-shadow: 6px -1px 16px -2px;
  max-height: 10%;
}

td {
  font-size: 1.6rem;
  color: var(--onPrimary);
  text-align: center;
  padding: 1rem;
}

th {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  color: #d69fd2;
  opacity: 0.8;
  border-bottom: none;
  padding: 0.5rem;
  position: sticky;
  position: -webkit-sticky;
  top:0;
}

.qr-background {
  position:fixed; 
  top:0px; 
  left:0px; 
  bottom:0px; 
  right:0px; 
  background-color:rgba(50, 50, 50, 0.6);
}

.qr {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}